<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
    <input v-model="keyWord" placeholder="输入条件">
    <li v-for="person in filPersons">{{person.name}}-{{person.age}}-{{person.sex}}</li>
    </div>
</body>

<script>
    var vm = new Vue({
        el: '#app',
        data:{
            persons:[
                {'id': '001', 'name': "周冬雨", 'age': 18,'sex': "女"},
                {'id': '002', 'name': "周杰伦", 'age': 19,'sex': "男"},
                {'id': '003', 'name': "温兆伦", 'age': 20,'sex': "男"},
                {'id': '004', 'name': "马冬雨", 'age': 44,'sex': "女"},
        ],
        filPersons: [],
        keyWord: '',
        },

        watch: {
            /** 监听属性没有返回值，简单模式可能并不有效，需要写完整形式（参数以及handler） 
            handler(newVal, oldVal)：
                        newVal是监听到的新值，oldVal是原值
            immediate: 该值默认是false，在进入页面时，第一次绑定值，不会立刻进行监听，只有数据数据发生改变时
                        才会执行handler中的操作。
            deep： 监听Vue对象中的属性值的变化
            note： 箭头函数()=>{} 中是有return的
            */
            keyWord: {
                immediate: true, 
                handler(val){ 
                    this.filPersons = this.persons.filter((p) =>{
                    return p.name.indexOf(val) !== -1
                })
                }
        }
    }
    }
    )
</script>
</html>